@import 'tachyons';

@font-face {
  font-family: 'Snes';
  src: url('../assets/fonts/SnesItalic-1G9Be.ttf')  format('truetype');
}

@font-face {
  font-family: 'VCR';
  src: url('../assets/fonts/VCR_OSD_MONO.ttf')  format('truetype');
}

$base-spacing: 1rem;
$color-primary: #0040ff;

html, body {
  font-smooth: never;
  font-family: VCR, monospace;
  text-rendering: geometricPrecision;
  font-size: 14px;
  overflow: hidden;
}

input[type='text'] {
  font-size: 1.4rem;
  padding: $base-spacing/4 $base-spacing/2;
}

.input[type="submit"],
button,
.button {
  border-radius: 0;
  cursor: pointer;
  background: $color-primary;
  color: white;
  border: 0;
  padding: $base-spacing/2 $base-spacing;
  &.is-large {
    font-size: 1.4rem;
  }

  &:disabled {
    opacity: 0.8;
    cursor: not-allowed;
  }
}

.header-logo {
  position: fixed;
  top: 0; left: 0;
  font-family: Snes, monospace;
  letter-spacing: 1px;
  font-size: 4rem;
  line-height: 3rem;
  color: white;
  text-shadow: 2px 2px $color-primary;
  background-color: $color-primary;
  padding: 0 $base-spacing*2;
  transition: letter-spacing 1s ease-in-out;
  cursor: default;
  &:hover {
    letter-spacing: 2px;
  }
}

main#game-viewport {
  box-sizing: border-box;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.chat-viewport {
  position: fixed;
  right: 0; bottom: 0;
  width: 40vw;
  max-width: 600px;

  height: 30vh;
  max-height: 300px;
  background-color: white;
  z-index: 1;

  display: flex;
  flex-direction: column;
  transition: transform 0.1s ease-in-out;

  ul { margin: 0; flex-grow: 1; }
  li { list-style: none; }
  textarea { border-radius: 0; border: 1px solid rgba(0, 0, 0, 0.2)}

  &.is-hidden {
    transform: translateY(calc(100% - 22px));
  }
}
